<div class="container">
  <h2><span>投稿一覧</span></h2>
  <% @posts.each do |post| %>
  　<%= link_to post_path(post.id) do %> 
  <span><%= image_tag post.get_image(100, 100) %></span>
　　<% end %>
<% end %>
</div>

