<div class="photo-container">
  <h2><span>投稿一覧</span></h2>
  <div class="photoGarelly">
    <% @posts.each do |post| %>
    <div class="items">
      <%= image_tag post.get_image(120, 120), class: "post-img" %>
　　  <div class="title">
      <p><%= post.title %></p>
   　  <%= link_to post_path(post.id) do %>
   　    <p><%= post.body.truncate(12) %></p>
   　    <p>read more…</p>
   　  <% end %>
   　  </div>
　　</div>
    <% end %>
  </div>
</div>

