<div class="photo-container">
  <h2><span>投稿一覧</span></h2>
  <div class="index-btn-box">
    <!--ログイン前ユーザにボタンは表示させない-->
    <% if user_signed_in? %>
      <%= render "public/users/user_search_lead" %>
      <% if current_user.name != "guestuser" %>
      <%= render "public/users/new_post_btn" %>
      <% end %>
    <% end %>
  </div>
  <%= render "index", posts: @posts %>
</div>
<script>
ScrollReveal({
  reset: false,
  duration: 1500
});  //render "index"の.itemsを0.5秒待機してふわっと表示
ScrollReveal().reveal('.items',{ delay: 500, opacity: 0, interval: 250 });
</script>