<div class="photo-container">
  <h2><span>検索結果</span></h2>
  <% if @posts.count == 0 %>
    <p>検索結果はありません</p>
  <% else %>
    <p><%= @posts.count %>件の検索結果が見つかりました</p>
  <% end %>
  <%= render "index", posts: @posts %>
</div>
<script>
  //render "index"の.itemsを0.5秒待機してふわっと表示
ScrollReveal({ reset: false, duration: 1500 }).reveal('.items',{ delay: 500 });
</script>