<div class="photo-container">
  <h2><span>検索結果</span></h2>
  <% if @posts.count == 0 %>
    <p>検索結果はありません</p>
  <% else %>
    <p><%= @posts.count %>件の検索結果が見つかりました</p>
  <% end %>
  <%= render "index", posts: @posts %>
</div>