/* ---------------------------- */
/* ---- 管理者トップページ---- */
/* ---------------------------- */
.admin-homes {
  text-align: center;
}
.admin-homes .admin-homes-font {
  text-align: center;
  margin-bottom: 2em;
}
/*管理者ログインボタン*/
.admin-homes .admin-session-btn a {
  background-color: #ee8194;
  padding: 0.7em 3.0em;
  text-align: center;
  border: 2px solid #ee8194;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: 13px;
}
.admin-homes .admin-session-btn a:hover {
  color: #ee8194;
  background-color: #fff;
}
/* ---------------------------- */
/* ---- ユーザ一覧---- */
/* ---------------------------- */
.text-active span{
  color : #3cb371;
}
.text-invalid span{
  color : #000000;
}
/* ---------------------------- */
/* ---- ユーザ一詳細---- */
/* --{-------------------------- */
.a_profile-show{
  margin: 14px auto;
  display: flex;
  flex-direction: column;
}
.a_profile-show .sec01{
  display: flex;
  align-items: center;
  margin: 1em;
}
.a_profile-show .sec01 .a-profile-item-left {
  margin-left: 1em;
  font-size: 14px;
  flex-basis: 30%;
  font-family: 'Noto Serif JP', serif;
}
.a_profile-show .sec01 .a-profile-item-right {
  font-family: 'Noto Serif JP', serif;
  flex-basis: 66%;
}
.a-profile-show-action {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 5em;
}
/*ユーザ編集ボタン*/
.a-profile-show-action .profile-edit-btn a {
  background-color: #c0c0c0;
  padding: .6em 2.0em;
  text-align: center;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: .9em;
}
.a-profile-show-action .profile-edit-btn a:hover {
  color: #c0c0c0;
  background-color: #fff;
}