<div class="main">
  <h2><span>フォロワー一覧</span></h2>
    <div class="relationships">
    <% @users.each do |user| %>
    <div class="follower-user">
      <div class="user-item">
      <%= image_tag user.get_profile_image(100, 100), style: "border-radius: 50%;" %>
      </div>
      <div class="user-item">
        <%= user.name %>
      </div>
      <div class="user-item">
        <% if current_user.name != "guestuser" && current_user.id != user.id %>
          <%= render "public/relationships/relationships_btn", user: user %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>