<div class="main">
  <h2><span class="follow-title"><%= @user.name %>さんの<br>フォロワーリスト</span></h2>
    <%= render "public/users/user_search_lead" %>
    <div class="user_index_box">
      <% if @users.exists? %>
      <%= render "public/users/index", users: @users %>
      <% else %>
        <p>現在、フォロワーはいません</p>
      <% end %>
    </div>
  <div class="kaminari">
    <%= paginate @users %>
  </div>
</div>