<div class="main">
  <div class="main-box">
    <h1>花のある暮らしを始めよう</h1>
  </div>
</div>
<div class="container">
  <p>
    <% if user_signed_in? %>
      <%= link_to user_path(current_user.id) do %>
      ようこそ<%= current_user.name %>さん
      <% end %>
    <% end %>
  </p>


</div>
