<div class="main">
  <div class="admin-homes">
    <p class="admin-homes-font">管理者の方はこちらからログインをお願いします</p>
    <div class="admin-session-btn">
      <%= link_to "ログイン", new_admin_session_path %>
    </div>
  </div>
</div>