/* ---------------------------- */
/* ----通知一覧ページ---- */
/* ---------------------------- */
.notification-box {
  padding: 15px 20px;
  margin: 0 auto;
}
.notice-table {
  margin: 0 auto;
}
/*全削除ボタンここから*/
.notice-table .update_all_noticed {
  text-align: start;
  padding-bottom: 1em;
  padding-left: .8em;
}

.notice-table .update_all_noticed .noticed-link {
  background-color: #c0c0c0;
  padding: 0.2em 0.9em;
  text-align: center;
	text-decoration: none;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
}
.notice-table .update_all_noticed .noticed-link:hover {
  color: #c0c0c0;
  background-color: #fff;
}
/*全削除ボタンここまで*/
.notice-table .notice-cel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: .4em;
}
.notice-table .notice-cel .notice-sec01 {
  display: flex;
  align-items: center;
  font-size: .9em;
}
.notice-table .notice-cel .notice-sec01 .notice-user-link {
  display: flex;
  align-items: center;
  margin-right: 1em;
  color: blue;
}
.notice-table .notice-cel .notice-sec01 .notice-user-link img {
  margin-right: .4em;
}
.notice-table .notice-cel .notice-sec02 {
  margin-right: 2em;
}
.notice-table .notice-cel .notice-sec02 span.notice-text {
  font-size: 0.9em;
}
.notice-table .notice-cel .notice-sec02 span.notice-text .your-post {
  padding-left: .3em;
  color: blue;
}
.notice-table .notice-cel .notice-sec02 span.notice-time-ago {
  font-size: .8em;
  padding: 0 .1em;
}
.notice-table .notice-cel .notice-sec03 {
  margin-left: auto;
}
/*個別全削除ボタンここから*/
.notice-table .notice-cel .notice-sec03 .noticed-link {
  background-color: #c0c0c0;
  padding: 0.2em 0.9em;
  text-align: center;
	text-decoration: none;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: 15px;
}
.notice-table .notice-cel .notice-sec03 .noticed-link:hover {
  color: #c0c0c0;
  background-color: #fff;
}
/*個別全削除ボタンここまで*/