/* ---------------------------- */
/* ----投稿一覧ページ---- */
/* ---------------------------- */
.index-btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
}
/*ユーザ検索へ遷移するボタン*/
.user_search_lead {
  margin: 20px;
  text-align: end;
}
.user_search_lead a {
  width: 160px;
  padding: 0.6em 2.0em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #ee8194;
	border-radius: 3px;
	transition: .4s;
	background-color: #ee8194;
	color: #fff;
	font-size: .9em;
}
.user_search_lead a:hover {
	background-color: #fff;
	color: #ee8194;
}
/*記事新規投稿へ遷移するボタン*/
.new-post-btn a {
  width: 160px;
  background-color: #c0c0c0;
  padding: 0.6em 2.0em;
  text-align: center;
	text-decoration: none;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: .9em;
}
.new-post-btn a:hover {
  color: #c0c0c0;
  background-color: #fff;
}
/*ここまでボタン*/
.photoGarelly .items .index-article .read-more .post-favorite {
  color: red;
}
/* ---------------------------- */
/* ----投稿詳細ページ---- */
/* ---------------------------- */
/*いいねボタン*/
/*いいね登録済みは赤*/
.post-favorite .favorite_btn:first-child {
  color: red;
}
/*いいね未登録は黒*/
.post-favorite .favorite_btn:nth-child(2) {
  color: #000000;
}
/* レスポンシブ対応 */
/*531以下スマホ対応*/
@media screen and (max-width:530px){
/*記事投稿一覧*/
  .index-btn-box {
    flex-direction: column;
  }
  .new-post-btn {
    margin-top: 1em;
  }
}