/*フォロワー・フォローボタン*/
.profile-follow-btn a {
  background-color: #c0c0c0;
  padding: 0.4em 1.8em;
  text-align: center;
	text-decoration: none;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: 15px;
}
.profile-follow-btn a:hover {
  color: #c0c0c0;
  background-color: #fff;
}
/* レスポンシブ対応 */
/* 553以下*/
@media screen and (max-width:553px){
  /*記事投稿一覧*/
  .user_index_box .user-sec01{
    flex-wrap: wrap;
  }
  .user_index_box .user-sec01 .user-item .profile-follow-btn {
    margin-top: 20px;
  }
}