@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* ---------------------------- */
/* ---- フラッシュメッセージ---- */
/* ---------------------------- */
body {
  line-height: 1.8em;
}
.notice {
  text-align: center;
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
  line-height: 3.2em;
}
.alert {
  text-align: center;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  line-height: 3.2em;
}
/* ---------------------------- */
/* ---- 見出し共通---- */
/* ---------------------------- */
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 700px;
}
.container h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: .17em;
  margin: 35px 0 20px;
}
.container h2 span {
  font-size: 27px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(93,162,87,1) 39%, rgba(231,128,128,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* ---------------------------- */
/* ---- 　各ページ共通　　---- */
/* ---------------------------- */
.main {
  margin: 40px auto;
  padding: 20px;
  max-width: 1100px;
}
.main h1 {
  text-align: center;
}
.main h2 {
  text-align: center;
  font-size: 25px;
  letter-spacing: .17em;
  margin-bottom: 21px;
}
.main h2 span {
  font-size: 27px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(199,169,129,1) 0%, rgba(221,51,103,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* ---------------------------- */
/* ---- 　kaminari　　---- */
/* ---------------------------- */
.photo-container .kaminari {
  text-align: center;
}
/* ---------------------------- */
/* ----検索フォーム、ボタン---- */
/* ---------------------------- */
.search_box {
  text-align: right;
  margin-right: 5px;
}
.search {
  position: relative;
}
.search input[type="text"] {
  border: none;
  position: relative;
  height: 30px;
  width: 210px;
  border-radius: 6px;
  padding: 0 25px 0 10px
}
.search .btn-search {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 9px;
  background: #fff;
  border: none;
  border-radius: 6px;
}
/* ---------------------------- */
/* ---- topページ---- */
/* ---------------------------- */
/*topページ*/
.top-main {

}
.top-main .main-box {
  text-align: center;
}
.top-main .main-box .top_image {
}
.top-main .main-box .top_image img {
  opacity: 0.6;
  position: relative;

}
.top-main .main-box .top-font {
  position: absolute;
  top: 25%;
  left: 32%;
  width: 30%;
  background: #FFFAF0;
  font-family: 'Noto Serif JP', serif;
}
.top-main .main-box .top_image .top-font h2 {
  font-size: 1.8em;
  padding: 0.1rem;
}
/*aboutページ*/
.top-main .about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 50px;
}
.top-main .about-box h2 {
  font-size: 3.0rem;
  letter-spacing: .17em;
  margin-bottom: 70px;
}
.top-main .about-box h2 span {
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(199,169,129,1) 0%, rgba(221,51,103,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.top-main .about-box h3 {
  text-align: center;
  font-size: 2.0rem;
  letter-spacing: .17em;
  margin-bottom: 20px;
  font-family: 'Noto Serif JP', serif;
}
.top-main .about-box h3 span {
  letter-spacing: .17em;
  line-height: 2rem;
}
.top-main .about-box p {
  letter-spacing: .17em;
  font-weight: 500;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
/* ---------------------------- */
/* ---- ログイン、
        新規登録
        プロフィール編集
        新規投稿
        投稿編集---- */
/* ---------------------------- */
.box {
  padding: 15px 20px;
}
.field {
  margin: 0 20px 13px;
}
.field label {
  font-weight: 700;
  font-size: 16px;
  padding-left: 2px;
  padding-bottom: 2px;
}
::placeholder{
  color: #ccc;
}
.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="password_confirmation"] {
  font-size: 1.0em;
  width: 100%;
  margin: 8px 0;
	padding: 0.3em;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	line-height: 2.0em;
}
.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="password"]:focus,
.field input[type="password_confirmation"]:focus {
	border-color: #da3c41;
}
.button-box {
  padding: 0.8em;
  text-align: center;
}
.button-box input[type="submit"] {
  width: 160px;
  padding: 0.8em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #ee8194;
	border-radius: 3px;
	transition: .4s;
	background-color: #ee8194;
	color: #fff;
}
.button-box input[type="submit"]:hover {
	background-color: #fff;
  color: #ee8194;
}
/* ---------------------------- */
/* ----プロフィール詳細ページ---- */
/* ---------------------------- */
.profile-show {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 14px 0;
}
.profile-show .profile-box-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  flex-grow :2;
  flex-basis: 40%;
}
.profile-show .profile-box-left span{
  font-size: 1.0em;
  margin-top: 2%;
}
.profile-show .profile-box-right {
  flex-grow :4;
  display: flex;
  justify-content: space-around;
  flex-basis: 60%;
  text-align: center;
}
.profile-show .profile-box-right .profile-favorite-item {
  color: #d73038;
  text-align: center;
}
.profile-show-body {
  display: flex;
  justify-content: flex-start;
  margin: 14px 0 14px 10%;
}
.profile-show-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2% 0 2% 10%;
}
.profile-show-action .profile-edit-btn:last-child {
  margin-left: 3%;
}
.profile-show:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 14px 40px;
}
/* ---------------------------- */
/* ----プロフィール編集ボタン---- */
/* ---------------------------- */
.profile-show-action .profile-edit-btn a {
  background-color: #c0c0c0;
  padding: 0.6em 0.9em;
  text-align: center;
	text-decoration: none;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
  font-size: 13px;
}
.profile-show-action .profile-edit-btn a:hover {
  color: #c0c0c0;
  background-color: #fff;
}

/* ---------------------------- */
/* ----プロフィール編集ページ---- */
/* ---------------------------- */
.field textarea {
  width: 100%;
  margin: 8px 0;
	padding: 0.3em;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	line-height: 1.8em;
	font-size: 1.3em;
	font-weight: 500;
	height: 100px;
}
.field textarea:focus {
	border-color: #da3c41;
}
/*退会ボタン用*/
.button-box a {
  width: 160px;
  padding-left: 3.1em;
  padding-right: 3.1em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #301bbe;
	border-radius: 3px;
	height: 45px;
	background-color: #301bbe;
	color: #fff;
	margin: 0 36px;
	font-size: 13px;
	transition: .4s;
}
.button-box a:hover {
  background-color: #fff;
  color: #301bbe;
}
/* ---------------------------- */
/* ----ユーザ退会ページ---- */
/* ---------------------------- */
.sec-01 {
 text-align: center;
 padding: 40px 0;
}
.sec-01 p {
  margin: 30px 0 15px;
  font-size: 20px;
}
.withdraw-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sec-01 .withdraw-box .withdraw-left {
  float: left;
  padding: 10px 15px 10px 10px;
}
.sec-01 .withdraw-box .withdraw-right {
  float: left;
  padding: 10px 10px 10px 15px;
}
/*退会しないはマイページボタンと同じ色*/
.sec-01 .withdraw-box .withdraw-left a {
  width: 160px;
  padding: 0.8em 3.0em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #ee8194;
	border-radius: 3px;
	transition: .4s;
	background-color: #ee8194;
	color: #fff;
	font-size: 13px;
}
.sec-01 .withdraw-box .withdraw-left a:hover {
	background-color: #fff;
	color: #ee8194;
}
/*退会するは退会ボタン*/
.sec-01 .withdraw-box .withdraw-right a {
  width: 160px;
  padding: 0.8em 3.0em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #301bbe;
	border-radius: 3px;
	transition: .4s;
	background-color: #301bbe;
	color: #fff;
	font-size: 13px;
}
.sec-01 .withdraw-box .withdraw-right a:hover {
	background-color: #fff;
	color: #301bbe;
}
/* レスポンシブ対応 */
/* 950以下821以上 */
@media screen and (max-width:950px){
  /*記事投稿一覧*/
  .photoGarelly .items {
    width: 31%;
  }
}
/* 821以下以上 */
@media screen and (max-width:821px){
  /*topページ*/
  .top-main .main-box .top-font {
    top:22%;
  }
  /*記事投稿一覧*/
  .photoGarelly .items {
    width: 47%;
  }
}
/* 649以下以上 */
@media screen and (max-width:649px){
  /*記事投稿一覧*/
  .photoGarelly .items {
    width: 97%;
  }
  /*topページ*/
  .top-main .main-box .top-font {
    top: 20%;
  }
}
/*531以下スマホ対応*/
@media screen and (max-width:530px){
  /*topページ*/
  .top-main .main-box .top-font {
    top: 19%;
    left: 14%;
    width: 75%;
  }
  .button-box {
    display: block;
  }
  .button-box a {
    margin: 10px auto;
    height: 44px;
    padding: 10px 30px;
  }
  .article-user {
    flex-direction: column;
  }
  .article-user .article-box:first-child {
    margin: 5px 5px 20px;
  }
  .article-user .article-box:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article .sec-02-left {
    background-color: #fff;
    justify-content: center;
  }
  .article-image {
    width: 100%;
  }
  .article-culom:first-child {
    font-size: 16px;
    margin: 0 2px 10px;
    letter-spacing: .11em;
  }
  .article-culom:nth-child(2) {
    font-size: 12px;
    margin-left: 2px;
    letter-spacing: .11em;
  }
  .article-edit .edit-box {
    margin: 10px auto;
  }
  .article-edit .delete-box {
    margin: 10px auto;
  }
  /*ユーザプロフィール詳細*/
  .profile-show {
    flex-direction: column;
  }
  .profile-show {
    flex-direction: column;
  }
}