@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Noto Serif JP', serif;
}
p, h1, h2, h3, h4, span, em {
  font-family: 'Noto Serif JP', serif;
}
/* ---------------------------- */
/* ---- フラッシュメッセージ---- */
/* ---------------------------- */
body {
  line-height: 1.8em;
}
.notice {
  text-align: center;
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
  line-height: 3.2em;
}
.alert {
  text-align: center;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  line-height: 3.2em;
}
/* ---------------------------- */
/* ---- 見出し共通---- */
/* ---------------------------- */
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 700px;
}
.container h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: .17em;
  margin: 35px 0 20px;
}
.container h2 span {
  font-size: 27px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(93,162,87,1) 39%, rgba(231,128,128,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* ---------------------------- */
/* ---- 　各ページ共通　　---- */
/* ---------------------------- */
.main {
  margin: 40px auto;
  padding: 20px;
  max-width: 1100px;
}
.main h1 {
  text-align: center;
}
.main h2 {
  text-align: center;
  font-size: 25px;
  letter-spacing: .17em;
  margin-bottom: 21px;
}
.main h2 span {
  font-size: 29px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(199,169,129,1) 0%, rgba(221,51,103,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* ---------------------------- */
/* ---- 　pagination　　---- */
/* ---------------------------- */
.kaminari {
  text-align: center;
}
.pagination span.page.current {
  color: #696969;   /*文字の色を変える*/
  padding: 0 .2em;
  margin: 0 .4em;
}
.pagination span.first a {
  color: #696969;   /*文字の色を変える*/
  margin: 0 .4em;
  transition: .4s;
}
.pagination span.prev a {
  color: #696969;   /*文字の色を変える*/
  margin: 0 .4em;
  transition: .4s;
}
.pagination span.next a {
  color: #696969;   /*文字の色を変える*/
  margin: 0 .4em;
  transition: .4s;
}
.pagination span.last a {
  color: #696969;   /*文字の色を変える*/
  margin: 0 .4em;
  transition: .4s;
}
/* 表示しているページ番号のデザイン */
.pagination span.page a {
  margin: 0 .4em;
  color: #696969;
  padding: 0 .2em;
  transition: .4s;
}
/*ホバー時のデザイン*/
.pagination span.page a:hover {
  color: #93c9ff;
}
.pagination span.first a:hover {
  color: #93c9ff;
}
.pagination span.prev a:hover {
  color: #93c9ff;
}
.pagination span.next a:hover {
  color: #93c9ff;
}
.pagination span.last a:hover {
  color: #93c9ff;
}
/* ---------------------------- */
/* ----検索フォーム、ボタン---- */
/* ---------------------------- */
.search_box {
  text-align: right;
  margin-right: 5px;
}
.search {
  position: relative;
}
.search input[type="text"] {
  border: none;
  position: relative;
  height: 30px;
  width: 210px;
  border-radius: 6px;
  padding: 0 25px 0 10px
}
.search .btn-search {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 9px;
  background: #fff;
  border: none;
  border-radius: 6px;
}
/* ---------------------------- */
/* ----プロフィール画像丸みを統一---- */
/* ---------------------------- */
.profile-img {
  border-radius: 50%;
}
/* ---------------------------- */
/* ----ヘッダー通知未読マーク一---- */
/* ---------------------------- */
.fa-circle {
  color: #ffb6c1;
  position: absolute;
  left: 75%;
}
/* ---------------------------- */
/* ---- ログイン、
        新規登録
        プロフィール編集
        新規投稿
        投稿編集---- */
/* ---------------------------- */
.box {
  padding: 15px 20px;
}
.field {
  margin: 0 20px 13px;
}
.field label {
  font-weight: 700;
  font-size: 14px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-family: 'Noto Serif JP', serif;
}
.password-mini-length {
  font-size: .8em;
}
::placeholder{
  color: #ccc;
}
.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="password_confirmation"] {
  font-size: 1.0em;
  width: 100%;
  margin: 8px 0;
	padding: 0.3em;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	line-height: 2.0em;
	font-family: 'Noto Serif JP', serif;
}
.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="password"]:focus,
.field input[type="password_confirmation"]:focus {
	border-color: #da3c41;
}
.button-box {
  padding: 0.8em;
  text-align: center;
}
.button-box input[type="submit"] {
  width: 160px;
  padding: 0.8em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #ee8194;
	border-radius: 3px;
	transition: .4s;
	background-color: #ee8194;
	color: #fff;
	font-family: 'Noto Serif JP', serif;
}
.button-box input[type="submit"]:hover {
	background-color: #fff;
  color: #ee8194;
}
/* ---------------------------- */
/* ----ユーザ検索(users#search)、
      フォロー一覧(relationships/followers)
      フォロー一覧(relationships/followings)
/* ---------------------------- */
.user_index_box {
  margin: 40px auto;
}
.user_index_box .user-sec01{
  display: flex;
  align-items: center;
  padding: 1.0em 0.8em;
  margin: 0.6em auto;
  border-bottom: 2px solid #808080;
}
.user_index_box .user-sec01:last-child{
  display: flex;
  align-items: center;
  padding: 1.0em 0.8em 0;
  margin: 0.6em auto;
  border-bottom: none;
}
.user_index_box .user-sec01 .user-item:first-child {
  flex-grow : 1;
  flex-basis: 35%;
  text-align: center;
}
.user_index_box .user-sec01 .user-name-item {
  flex-grow :2;
  flex-basis: 35%;
  padding: 2.5em;
}
.user_index_box .user-sec01 .user-item:last-child {
  flex-grow : 2;
  flex-basis: 40%;
  text-align: center;
}
/* ---------------------------- */
/* ----投稿一覧ページ---- */
/* ---------------------------- */
.photo-container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1000px;
}
.photo-container h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: .17em;
  margin-bottom: 21px;
}
.photo-container h2 span {
  font-size: 29px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(93,162,87,1) 39%, rgba(231,128,128,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Noto Serif JP', serif;
}
.photoGarelly {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.photoGarelly .items {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 9px;
}
.photoGarelly .items img.post-img {
  text-align: center;
  width: 100%;
}
.photoGarelly .items .index-article {
  display: flex;
  flex-direction: column;
}
.photoGarelly .items .index-article .title-font {
  font-weight: 600;
  margin: 0.3em auto;
  font-size: 1.1em;
}
.photoGarelly .items .index-article .post-body {
  font-size: .9em;
  padding: 0.5em;
  min-height: 72px;
}
.photoGarelly .items .index-article .read-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.photoGarelly .items .index-article .read-more p:nth-child(2) {
  margin-left: 0.1rem;
}
/* 投稿一覧read moreボタン　ここから */
.photoGarelly .items .index-article .read-more p:last-child {
  border: 2px solid #00BCD4;
  background: #00BCD4;
  border-radius: 3px;
  color: #fff;
  padding: 2px;
  width: 97px;
  font-size: 0.9rem;
  margin-left: 0.1rem;
  transition: .4s;
}
.photoGarelly .items .index-article .read-more p:last-child:hover {
  background: #fff;
  color: #00BCD4;
}
/* 投稿一覧read moreボタン ここまで*/
/* ---------------------------- */
/* ----投稿詳細ページ---- */
/* ---------------------------- */
.article-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.article-user .article-box:first-child {
  display: flex;
  align-items: center;
}
.article-user .article-box:nth-child(2) {
  display: flex;
  align-items: center;
}
.article-user .article-box .post-profile-img {
  align-items: center;
  padding: 0 20px;
  border-radius: 50%;
}
.article-user .article-box .post-profile {
  align-items: center;
  padding: 0 20px;
}
/*投稿編集ボタン　ここから*/
.article-user .article-box .edit-box {
  margin-right: 50px;
}
.article-user .article-box .edit-box a {
  padding: .3em .9em .4em;
  text-align: center;
  color: #fff;
  background: #c0c0c0;
  transition: .4s;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  font-size: .9em;
}
.article-user .article-box .edit-box a:hover{
  color: #c0c0c0;
  background: #fff;
}
/*投稿編集ボタン　ここまで*/
/*投稿削除ボタン　ここから*/
.article-user .article-box .delete-box {
  margin-right: 9px;
}
.article-user .article-box .delete-box a {
  padding: .3em .9em .4em;
  text-align: center;
  color: #fff;
  background: #c0c0c0;
  transition: .4s;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  font-size: .9em;
}
.article-user .article-box .delete-box a:hover{
  color: #c0c0c0;
  background: #fff;
}
/*投稿削除ボタン　ここまで*/
.article {
  display: flex;
  margin: 40px 0 10px;
  background-color: #eee;
  width: 100%;
}
.article .sec-02-left {
  display: flex;
  flex-grow : 1;
  flex-wrap: wrap;
  align-items: center;
}
.article .sec-02-right .article-edit {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.article .sec-02-right {
  display: block;
  flex-grow: 3;
  flex-basis: 70%;
  min-width: 350px;
  width: 100%;
}
.article .sec-02-right .article-culom:first-child {
  display: block;
  letter-spacing: .13em;
  padding: 25px 30px;
  font-family: 'Noto Serif JP', serif;
  min-width: 100%;
}
.article .sec-02-right .article-culom:first-child .post-title {
  overflow-wrap: break-word;
  font-size: 1.3em;
  font-weight: 600;
}
.article .sec-02-right .article-culom:nth-child(2) {
  letter-spacing: .12em;
  padding: 0 30px 25px;
}
.article .sec-02-right .article-culom:nth-child(2) p {
  overflow-wrap: break-word;
  font-size: 1.1em;
}
/* レスポンシブ対応 */
/* 950以下821以上 */
@media screen and (max-width:950px){
  /*記事投稿一覧*/
  .photoGarelly .items {
    width: 31%;
  }
}
/* 821以下以上 */
@media screen and (max-width:821px){
  /*記事投稿一覧*/
  .photoGarelly .items {
    width: 47%;
  }
}
/* 724以下以上 */
@media screen and (max-width:724px){
  /*記事投稿一覧*/
  .article-user {
    flex-direction: column;
  }
  .article-user .article-box {
    margin: .9em auto;
  }
  .article-user .article-box .edit-box {
    margin-right: 20px;
}
  .article-user .article-box .delete-box {
    margin-right: 0;
    margin-left: 20px;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article .sec-02-left {
    background-color: #fff;
    justify-content: center;
  }
  .article-image {
    width: 100%;
  }
  .article .sec-02-right {
    min-width: auto;
  }
  .article .sec-02-right .article-culom:first-child {
    margin: 0 2px 10px;
    letter-spacing: .11em;
  }
  .article .sec-02-right .article-culom:nth-child(2) {
    margin-left: 2px;
    letter-spacing: .11em;
  }
}/* 649以下以上 */
@media screen and (max-width:649px){
  /*記事投稿一覧*/
  .photoGarelly .items {
    width: 97%;
  }
}
/*531以下スマホ対応*/
@media screen and (max-width:530px){
  .button-box {
    display: block;
  }
  .button-box a {
    margin: 10px auto;
    height: 44px;
    padding: 10px 30px;
  }
  /*ユーザプロフィール詳細*/
  .profile-show {
    flex-direction: column;
  }
  .profile-show {
    flex-direction: column;
  }
  /*投稿詳細*/
  .article-user {
    flex-direction: column;
  }
  .article-user .article-box:first-child {
    margin: 5px 5px 20px;
  }
  .article-user .article-box:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .article-edit .edit-box {
    margin: 10px auto;
  }
  .article-user .article-box .edit-box a {
    font-size: .8em;
  }
  .article-edit .delete-box {
    margin: 10px auto;
  }
  .article-user .article-box .delete-box a {
    font-size: .8em;
  }
  .article .sec-02-right .article-culom:first-child .post-title {
    font-size: 1.2em;
  }
  .article .sec-02-right .article-culom:nth-child(2) p {
    font-size: 1em;
  }
}