* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------------------------- */
/* ----ユーザ検索(users#search)、
      フォロー一覧
      フォロー一覧、---- */
/* ---------------------------- */
.user_index_box {
  margin: 40px auto;
}
.user_index_box .user-sec01{
  display: flex;
  align-items: center;
  padding: 1.3em 0.8em;
  margin: 0.6em auto;
  border-bottom: 2px solid #808080;
}
.user_index_box .user-sec01:last-child{
  display: flex;
  align-items: center;
  padding: 1.3em 0.8em 0;
  margin: 0.6em auto;
  border-bottom: none;
}
.user_index_box .user-sec01 .user-item:first-child{
  flex-grow :1;
  flex-basis: 35%;
  text-align: center;
}
.user_index_box .user-sec01 .user-name-item {
  flex-grow :2;
  flex-basis: 35%;
  padding: 2.5em;
}
.user_index_box .user-sec01 .user-item:last-child {
  flex-grow : 2;
  flex-basis: 40%;
  text-align: center;
}
/*フォロワー・フォローボタン*/
.profile-follow-btn a {
  background-color: #c0c0c0;
  padding: 0.3em 1.8em;
  text-align: center;
	text-decoration: none;
  border: 2px solid #c0c0c0;
  border-radius: 3px;
  transition: .4s;
  color: #fff;
}
.profile-follow-btn a:hover {
  color: #c0c0c0;
  background-color: #fff;
}
/* レスポンシブ対応 */
/* 553以下*/
@media screen and (max-width:553px){
  /*記事投稿一覧*/
  .user_index_box .user-sec01{
    flex-wrap: wrap;
  }
  .user_index_box .user-sec01 .user-item .profile-follow-btn {
    margin-top: 20px;
  }
}