* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------------------------- */
/* ---- フラッシュメッセージ---- */
/* ---------------------------- */
body {
  line-height: 1.8em;
}
.notice {
  text-align: center;
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
  line-height: 3.2em;
}
.alert {
  text-align: center;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  line-height: 3.2em;
}
/* ---------------------------- */
/* ---- ログイン、
        新規登録
        プロフィール編集
        新規投稿
        投稿編集---- */
/* ---------------------------- */
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 700px;
}
.container h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: .17em;
  margin-bottom: 21px;
}
.container h2 span {
  font-size: 27px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(93,162,87,1) 39%, rgba(231,128,128,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.box {
  padding: 15px 20px;
}
.field {
  margin: 0 20px 13px;
}
.field label {
  font-weight: 700;
  font-size: 16px;
  padding-left: 2px;
  padding-bottom: 2px;
}
::placeholder{
  color: #ccc;
}
.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="password_confirmation"] {
  font-size: 1.0em;
  width: 100%;
  margin: 8px 0;
	padding: 0.3em;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	line-height: 2.0em;
}
.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="password"]:focus,
.field input[type="password_confirmation"]:focus {
	border-color: #da3c41;
}
.button-box {
  padding: 0.8em;
  text-align: center;
}
.button-box input[type="submit"] {
  width: 160px;
  padding: 0.8em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #ee8194;
	border-radius: 3px;
	transition: .4s;
	background-color: #ee8194;
	color: #fff;
}
li {
  list-style: none;
  padding-top: 20px;
}
/* ---------------------------- */
/* ---- 　各ページ共通　　---- */
/* ---------------------------- */
.main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1100px;
}
.main h1 {
  text-align: center;
}
.main h2 {
  text-align: center;
  font-size: 25px;
  letter-spacing: .17em;
  margin-bottom: 21px;
}
.main h2 span {
  font-size: 27px;
  font-weight: 700;
  background-image: linear-gradient(344deg, rgba(199,169,129,1) 0%, rgba(221,51,103,1) 96%);
  -webkit-background-clip:  text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* ---------------------------- */
/* ----プロフィール詳細ページ---- */
/* ---------------------------- */
.profile-show {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 14px 0;
}
.profile-box-left {
  flex-grow :2;
  text-align: center;
}
.profile-box-right {
  flex-grow :4;
  display: flex;
  justify-content: space-around;
}
.profile-item:last-child {
  color: #d73038;
  text-align: center;
}

/* ---------------------------- */
/* ----プロフィール編集ページ---- */
/* ---------------------------- */
.field textarea {
  width: 100%;
  margin: 8px 0;
	padding: 0.3em;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	line-height: 1.8em;
	font-size: 1.2em;
	font-weight: 500;
	height: 100px;
}
.field textarea:focus {
	border-color: #da3c41;
}
/*退会ボタン用*/
.button-box a {
  width: 160px;
  padding-left: 3.1em;
  padding-right: 3.1em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #301bbe;
	border-radius: 3px;
	height: 45px;
	background-color: #301bbe;
	color: #fff;
	margin: 0 36px;
	font-size: 14px;
}
/* ---------------------------- */
/* ----ユーザ退会ページ---- */
/* ---------------------------- */
.sec-01 {
 text-align: center;
 padding: 40px 0;
}
.withdraw-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.sec-01 .withdraw-box .withdraw-left {
  float: left;
  padding: 10px 15px 10px 10px;
}
.sec-01 .withdraw-box .withdraw-right {
  float: left;
  padding: 10px 10px 10px 15px;
}
/*退会しないはマイページボタンと同じ色*/
.sec-01 .withdraw-box .withdraw-left a {
  width: 160px;
  padding: 0.8em 3.0em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #ee8194;
	border-radius: 3px;
	transition: .4s;
	background-color: #ee8194;
	color: #fff;
	font-size: 13px;
}
/*退会するは退会ボタン*/
.sec-01 .withdraw-box .withdraw-right a {
  width: 160px;
  padding: 0.8em 3.0em;
  text-align: center;
	text-decoration: none;
	border: 2px solid #301bbe;
	border-radius: 3px;
	transition: .4s;
	background-color: #301bbe;
	color: #fff;
	font-size: 13px;
}
/* ---------------------------- */
/* ----投稿詳細ページ---- */
/* ---------------------------- */
.article-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-user .post-profile {
  align-items: center;
  padding: 0 20px;
}
.article {
  display: flex;
  margin: 40px 0;
  background-color: #eee;
}
.article .sec-02-left {
  display: flex;
  flex-grow :1;
  flex-wrap: wrap;
}
.article .sec-02-left .post-profile-img {
  margin-left: 20px;
}
.article .sec-02-right .article-edit {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.article .sec-02-right .article-box {
  display: block;
  height: 300px;
}
.article-culom:first-child {
  display: block;
  font-size: 23px;
  margin: 0 2px 10px;
  letter-spacing: .13em;
  font-weight: 600;
  margin: 0 15px;
}
.article-culom:nth-child(2) {
  font-size: 17px;
  margin-left: 2px;
  letter-spacing: .11em;
}
/*投稿編集ボタン*/
.sec-02-right .edit-box {
  padding: 0.8em 3.0em;
  text-align: center;
	margin: 10px 5px;
}
.edit-font {
  color: #008b8b;
  font-size: 15px;
  text-decoration: none;
}
/*投稿削除ボタン*/
.sec-02-right .delete-box {
  width: 160px;
  text-align: center;
	margin: 10px 5px;
}
.delete-font {
  color: #696969;
  font-size: 15px;
  text-decoration: none;
}
/* レスポンシブ対応 */
@media screen and (max-width:530px){
  .button-box {
    display: block;
  }
  .button-box a {
    margin: 10px auto;
    height: 44px;
    padding: 10px 30px;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article .sec-02-left {
    background-color: #fff;
    justify-content: center;
  }
  .article-image {

  }
  .article-culom:first-child {
    font-size: 16px;
    margin: 0 2px 10px;
    letter-spacing: .11em;
  }
  .article-culom:nth-child(2) {
    font-size: 12px;
    margin-left: 2px;
    letter-spacing: .11em;
  }
  .article-edit {
    display: flex;
    flex-direction: column;
  }
  .article-edit .edit-box {
    margin: 10px auto;
  }
  .article-edit .delete-box {
    margin: 10px auto;
  }
}
