<div class="main">
  <h2><span>ユーザ検索</span></h2>
  <div class="user_search">
  <%= render "public/users/search_user" %>
  </div>
  <div class="user_index_box">
    <% if @users == nil %>
      <p>検索結果がありません</p>
      <% else %>
      <%= render "public/users/index", users: @users %>
    <% end %>
  </div>
  <% unless @users == nil %>
  <div class="kaminari">
      <%= paginate @users %>
  </div>
  <% end %>
</div>