<footer class="footer">
  <p class="page-top"><a href="#">Page Top</a></p>
  <div class="footer_a">
    <small>
      <span>Hanachan 2023 / All right reserved.</span>
    </small>
      |
      <span><a href="#"><i class="fab fa-twitter-square"></i></a></span>
      |
      <span><a href="#"><i class="fab fa-instagram-square"></i></a></span>
  </div>
</footer>